<div class="container">
    <app-go-back></app-go-back>
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="row mb-4">
        <div class="col-12">
            <div class="card rounded">
                <div class="card-header rounded">
                    <h2>
                        Albums
                        <span class="badge bg-secondary rounded-pill">{{
                            userAlbums.length
                        }}</span>
                    </h2>
                </div>
                <div class="list-group list-group-flush rounded">
                    <a
                        routerLink="{{ userAlbum.id }}"
                        class="list-group-item list-group-item-action text-capitalize p-4 fs-4 rounded"
                        *ngFor="let userAlbum of userAlbums"
                    >
                        <span>
                            <i class="bi bi-journal-album"></i>
                        </span>
                        {{ userAlbum.title }}</a
                    >
                </div>
            </div>
        </div>
    </div>
    <app-pagination
        [data]="response"
        (slicedData)="pagination($event)"
    ></app-pagination>
</div>
