.container {
    min-height: 100vh;
    background-color: #dedede;

    .custom-heading {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: #0d6efd;
        }
    }
}
